div#header
	a(href="/") Home
	| 
	a(href="/users") Users
	| 
	a(href="/quiz") Quiz
	| 
	if log === true
		P= "welcome " + name + ", "
		a(href="http://localhost:3000/users/"+id )= "your profile is here"
	
	else
		form(action= "/login" method="POST")
			P
				|username:
				input(type="text" name="username")
				|password:
				input(type="text" name="password")
			input(type='submit', value='Submit')
		